/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.obal {
    width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative; /* pridala Terka*/
}

/* ------------- MENU ------------ */
nav {
    
}
.menu ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.menu li {
    padding: 20px 30px;
}
.menu a {
    text-decoration: none;
    color: #25133d;
    font-size: 18px;
}
.homepage {
    text-transform: uppercase;
    font-weight: bold;
}
/*-----------HEADER------------*/
header {
    background-image: url('images/pozadi.jpg');
    position: relative;
    color: white;
    padding: 75px 50px;
}
h1 {
    font-size: 5.5em;
    font-weight: normal;
    margin: 0;
    line-height: 1em;
}
h2 {
    margin-top: 50px;
    font-size: 2em;
    font-weight: 100;
    line-height: 1.2em;
}
.button-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
}
.button {
    border: solid white 2px;
    border-radius: 10px;
    padding: 15px 30px;
    margin: 0 20px 0 0;
    font-size: 1.2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button:hover {
    background-color: #48418e;
}
.button a {
    text-decoration: none;
    color: white;
}
.ruka {
    position: absolute;
    right: 0;
    bottom: 0;
}

/*-------------FUNKCE--------------*/
.container-funkce {
    display: flex;
    padding: 20px;
}
.card-funkce {
    width: 30%;
    text-align: center;
    margin: 20px;
}
h3 {
    color: #48418e;
    font-size: 1.3em;
    margin-top: 10px;
}
p {
    font-size: 18px;
}
svg {
    width: 75px;
}
footer {
    text-align: center;
    color: white;
    background-color: #48418e;
    padding: 10px 0;
}